	<div id="sidebar" class="five columns">
		<ul>
			<li class="widget-container widget_text"><p>&nbsp;</p><div class="button small"><a target="_self" class="button white" href="form.html">Submit Your Code</a></div>
				<h3 class="widget-title">Menu</h3>
				
				<div class="textwdget"><a href="index.html">Home</a><h6>Mobile Web</h6>
				<ul>
					<li><a href="web_html.html">HTML/CSS/JS</a></li>
					<li><a href="web_jsp.html">JSP</a></li>
					<li><a href="web_php.html">PHP</a></li>
					<li><a href="web_ruby.html">Ruby</a></li>
				</ul>
							<h6>Native Apps</h6>
				<ul>
					<li><a href="native_android.html">Android</a></li>
					<li><a href="native_blackberry.html">Blackberry</a></li>
					<li><a href="native_ios.html">iOS</a></li>
					<li><a href="native_windows.html">.Net/Windows</a></li>
				</ul>
							<h6>Other Resources</h6>
				<ul>
					<li><a href="testing.html">Test Scripts</a> (Including Accessibility)</li>
					<li><a href="http://www.data.gov/developers/page/developer-resources">Federal APIs</a></li>
					<li><a href="http://apps.usa.gov">Federal App Catalog</a></li>
					<li><a href="http://www.youtube.com/watch?v=sr0NeWFCQaI&list=UU5V8jrK77-8gsa9RL_taG9A&index=2">GitHub For Government</a></li>
				</ul>
				</div>
			</li>
			<li class="widget-container widdget_text">
				<h3 class="widget-title">Contact Us</h3>
				<div class="textwdget">
					<ul>
					<li><strong><a href="qform.html">Got Questions?</a></strong></li>					
					<li></li>
					</ul>
				</div>
			</li>
			<li class="widget-container widget_text">
				<h3 class="widget-title">Disclaimer</h3>
				<div class="textwdget">The Mobile Code Catalog is a collaborative effort to build a more mobile government by sharing code among federal agencies. It's an iterative resource that changes frequently. At times, some code repositories may be works in progress. Contributors are from across federal agencies, though some repositories listed here may come from third parties.  Resources from outside the federal government are offered as a convenience and do not indicate an endorsement of those resources.</div>
			</li>
		</ul>
	</div>
